h1 {
  text-align: center;
  color: #f2718b;
  font-family: sans-serif;}
h2 {
  text-align: center;
  color: #f2718b;
  font-family: sans-serif;
}
h3 {
  text-align: center;
  font-family: sans-serif;

}
h4 {
  text-align: center;
  font-family: sans-serif;
}
p {
  text-align: center;
  font-family: sans-serif;
}
ul {
  list-style:none;
  text-align: center;
